<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='signup_style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
</head>

<body class="body">

  
<div class="login-page">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages%}
        <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="form">

    <form method="POST" class="login-form" action='/signup' >
      <input type="text" name='Name' placeholder="FULL NAME"/>
      <input type="text" name='Register'placeholder="Register Number"/>
      <input type="date" name='DOB' placeholder="DOB (YYYY-MM-DD)"/>
      <input type="text" name='email' placeholder="abc@xyz.com"/>
      <button type="submit">SIGN UP</button>
    </form>
  </div>
</div>

</body>
</html>
